

.header-wraper {
  position: relative;
  background: url(background-pic.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 92vh
}

.intro {
  position: relative;
  background: url(background-pic2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh
  
}

.text{
color: white;
}

.text2{
  color: white;
  }

.split {
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left:50px;
}

.right {
  right: 50px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 350px;
  border-radius: 50%;
}

.box {
  background-color: rgb(255, 255, 255);
  width: 600px;
  height: 250px;
  border: 1px solid rgb(255, 0, 0);
  padding: 50px;
  margin: 20px;
  opacity: 0.5;
}

box:hover {
  opacity: 1.0;
}

.text3{
  color: rgb(0, 0, 0);
  opacity: 1.0;
  }

.main-info{
  display: flex;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
}

.main-info h1{
  font-size: 45px;
  font: arial;
  color: orange;
  text-transform: uppercase;
}

.typed-text{
font-size: 24px;
color: white;

}

.contact-btn{
border: 1px solid red;
border-radius: 0;
padding:2px 5px 2px 5px;
text-transform: uppercase;
color: white;

}

.tsparticles-canvas-el{
  position: absolute;
  height:100vh;
  width:100vh;
  z-index: 1;

}